@use "../../assets/styles/mixins" as mixin;

.header {
    position: relative;
    height: 108.38px;
    padding: 10px 20px;
    box-shadow: var(--box-shadow-nav);
    background-color: #4b4b4b;
    color: var(--primary);
     img {
         width: 75px;
     }
     .headerMenu {
         @include mixin.xs {
             display: none;
         }
     }

     .burger {
         display: none;
         cursor: pointer;
         transition: opacity 0.2s;
         &:hover {
            opacity: 0.7;
         }
         @include mixin.xs {
             display: block;
             font-size: 40px;
         }
     }
}